*{
    padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: hsl(184, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 20%;
    height: 60%;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content {
    width: 90%;
    height: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-img{
    width: 100%;
    height: 55%;
    object-fit: fill;
    border-radius: 10px;
}

.overlay{
    background-color: hsl(184, 90%, 65%);
}
.heading{
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.desc{
    color: hsl(215, 51%, 70%);
    font-size: 18px;

}
.price{
    display: flex;
    flex-direction: row;
    gap: 110px;
}

.ethereum{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* width: 100px; */
    color: hsl(184, 98%, 42%);
}

.ethereum img{
    width: 10px;
    height: 20px;
    object-fit: fill;
}

.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    width: 100px;
    color: hsl(215, 51%, 70%);
}

.clock img{
    width: 20px;
    height: 20px;
    object-fit: fill;
}


hr{
    height: 0.1px;
    background-color: hsl(215, 51%, 70%);
}

.footer{
    display: flex;
    gap: 20px;
}

.footer img{
    width: 20px;
    height: 20px;
    object-fit: fill;
    transform: scale(1.5);
    border: 1px white solid;
    border-radius: 50%;
}

.footer p{
    color: hsl(215, 51%, 70%);
}

span{
    color: white;
}

.main-img:hover .overlay{
   opacity: 1 ;
}

.heading:hover{
    color: hsl(184, 98%, 42%);
}

span:hover{
    color: hsl(184, 98%, 42%);
}


@media only screen and (max-width:400px){
    .card{
        width: 85%;
        height: 90%;
    }
    
    .card-content{
        gap: 28px;
    }
    .price {
        gap: 60px;
    }
}